body{
    font-family: Lato;
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=96c54c7bb13f26171f4a8f4d5ee6ebcb);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.h1top{
	padding-top: 25%;
    font-weight: 700;
    font-size: 5em;
}

html{
    height: 100%;
}

hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

#content{
	text-align: center;
    color: azure;
    text-shadow:    0px 4px 3px rgba(0, 0, 0, 0.4),
                    0px 8px 13px rgba(0, 0, 0, 0.1),
                    0px 18px 23px rgba(0, 0, 0, 0.1);
}